name: Build and Deploy doc

on:
  push:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUSTC_WRAPPER: "sccache"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.3
    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
    - name: Build wasm packages
      working-directory: ./crates/control-flow-graph-wasm
      run: wasm-pack build --target web --release
    - name: Move wasm packages
      run: mv -f ./crates/control-flow-graph-wasm/pkg/* ./doc/static/tools/graph-editor/
    - name: Build site 
      run: docker run -u "$(id -u):$(id -g)" -v $PWD/doc:/app --workdir /app ghcr.io/getzola/zola:v0.16.0 build
    - name: Build crate doc
      run: cargo doc --workspace --document-private-items --all-features -r
    - name: Move crate doc
      run: sudo mv ./target/doc/* ./doc/public/
    - name: Setup Pages
      uses: actions/configure-pages@v2
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: './doc/public'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1